@use "_colors" as *;
@forward "reset";

:root {
  color: $black;
  background-color: $white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: black;
  text-decoration: none;
}

.d-flex {
  display: flex!important;
}

.align-item-center {
  align-items: center!important;
}

.header {
  border-bottom: 1px solid $gray;
  padding: 0 165px;
  font-family: "Roboto Black", sans-serif;
  height: 101px;

  &__logo-text {
    font-size: 16px;
  }

  &__items {
    display: inherit;
    justify-content: space-between;
    width: 100%;
  }

  &__nav {
    flex-direction: row;

    ul {
      display: inherit;
      align-items: center;
      gap: 48px;
    }

    li {
      display: inherit;
      font-size: 12px;
    }

    a {
      display: inherit;
      gap: 20px;
      align-items: center;
    }
  }
}

.blue {
  color: $blue;
}


